version: '3.9'

services:
  mysql:
    image: mysql:8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: Mysql123@@
      MYSQL_DATABASE: servify
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    depends_on:
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: docker
      MYSQL_DATABASE: servify
      MYSQL_ROOT_PASSWORD: Mysql123@@
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "4200:80"

volumes:
  mysql_data:
