version: '3.9'

services:
  mysql:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Mysql123@@
      MYSQL_DATABASE: servify
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  backend:
    image: hkiriiheb/servify-backend:latest
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/servify?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Mysql123@@
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

  frontend:
    image: hkiriiheb/servify-frontend:latest
    depends_on:
      - backend
    ports:
      - "4200:80"

volumes:
  mysql_data:
