
  <h2 class="text-lg font-semibold mb-4">{{ title }}</h2>

  <!-- FAKE BAR CHART -->
  <div class="flex items-end h-48 gap-4">
    <div
      class="w-10 bg-gradient-to-t from-purple-900 to-purple-500 h-16 rounded"
    ></div>
    <div
      class="w-10 bg-gradient-to-t from-purple-900 to-purple-500 h-28 rounded"
    ></div>
    <div
      class="w-10 bg-gradient-to-t from-purple-900 to-purple-500 h-24 rounded"
    ></div>
    <div
      class="w-10 bg-gradient-to-t from-purple-900 to-purple-500 h-40 rounded"
    ></div>
    <div
      class="w-10 bg-gradient-to-t from-purple-900 to-purple-500 h-20 rounded"
    ></div>
    <div
      class="w-10 bg-gradient-to-t from-purple-900 to-purple-500 h-32 rounded"
    ></div>
  </div>
